@font-face {
  font-family: "Noto Sans";
  src: url("/public/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/public/assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

p {
  font-size: 1em;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}
