main {
  width: 95%;
  margin: 2.5em auto 0;
}

main .header {
  position: sticky;
  top: 2.5em;
  text-align: center;
  animation: reveal 1s;
  z-index: 563;
}

main h1 {
  font-size: 1.8em;
}

main .filters {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

@media (min-width: 42.375em) and (orientation: landscape) {
  main {
    margin-top: 3em;
  }

  main .header {
    position: sticky;
    top: 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }

  main h1 {
    margin: 0;
  }

  main .filters {
    gap: 0.7em;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
